<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btb.usersorganizationservice.persistence.mapper.RoleTypeMapper">

    <cache/>

    <sql id="tableName">ROLE_TYPE</sql>

    <resultMap id="resultMap" type="com.btb.usersorganizationservice.entity.RoleType">

        <id property="id" column="ID" javaType="Long" jdbcType="BIGINT" />

        <result property="roleName" column="ROLE_NAME" javaType="String" jdbcType="VARCHAR" />

        <result property="internalCode" column="ROLE_CODE" javaType="String" jdbcType="VARCHAR" />

    </resultMap>

    <sql id="selectColumnNamesClause">
        RES.ID,
		RES.ROLE_NAME,
		RES.ROLE_CODE
    </sql>

    <sql id="whereFilteredClause">
        <if test="id != null">
            AND RES.ID=#{id}
        </if>
        <if test="roleName != null">
            AND RES.ROLE_NAME=#{roleName}
        </if>
        <if test="internalCode != null">
            AND RES.ROLE_CODE=#{internalCode}
        </if>
    </sql>

    <sql id="insertColumnNamesClause">
        ROLE_NAME
        ,ROLE_CODE
    </sql>

    <sql id="insertValuesClause">
        #{roleName}
        ,#{internalCode}
    </sql>

    <sql id="updateSetClause">
        ROLE_NAME=#{roleName}
        ,ROLE_CODE=#{internalCode}
    </sql>

    <select id="findById" resultMap="resultMap" parameterType="Long" useCache="true" flushCache="false">
        select
        <include refid="selectColumnNamesClause" />
        from
        <include refid="tableName" />
        RES
        where
        RES.ID=#{value}
    </select>

    <select id="findByRoleCode" resultMap="resultMap" parameterType="String" useCache="true" flushCache="false">
        select
        <include refid="selectColumnNamesClause" />
        from
        <include refid="tableName" />
        RES
        where
        RES.ROLE_CODE =#{value}
    </select>

    <select id="findAll" resultMap="resultMap">
        select
        <include refid="selectColumnNamesClause" />
        from
        <include refid="tableName" />
        RES
        order by
        RES.ID asc
    </select>

    <select id="findByFilter" resultMap="resultMap"
            parameterType="com.btb.usersorganizationservice.entity.RoleType">
        select
        <include refid="selectColumnNamesClause" />
        from
        <include refid="tableName" />
        RES
        where 1=1
        <include refid="whereFilteredClause" />
        order by
        RES.ID asc
    </select>


    <insert id="save" parameterType="com.btb.usersorganizationservice.entity.RoleType"
            useGeneratedKeys="true" keyColumn="ID" keyProperty="id" flushCache="true">
        insert into
        <include refid="tableName" />
        (
        <include refid="insertColumnNamesClause" />
        )
        values
        (
        <include refid="insertValuesClause" />
        )
    </insert>

    <update id="update" parameterType="com.btb.usersorganizationservice.entity.RoleType" flushCache="true">
        update
        <include refid="tableName" />
        set
        <include refid="updateSetClause" />
        where
        ID=#{id}
    </update>

    <delete id="delete" parameterType="Long" flushCache="true">
        delete from
        <include refid="tableName" />
        where
        ID=#{value}
    </delete>

</mapper>